@media screen and (min-width: 0px) {
    .profile-image {
        width: 80vw;
        height: 80vw;
        clip-path: circle(40vw at center);
    }
}

@media screen and (min-width: 420px) {
    .profile-image {
        width: 400px;
        height: 400px;
        clip-path: circle(200px at center);
    }
}