.header-container {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #68d3e3;
    z-index: 2;
}

.wip-signboard {
    width: 107px;
    height: 70px;
    position: fixed;
    transform: translate(0, -12px);
    z-index: 2;
}

.page-title {
    width: 168px;
    height: 39px;
    position: absolute;
    left: 10px;
}

/* Navigation Bar Item */
.header-nav-item {
    margin: 0 10px 0 10px;
    cursor: pointer;
    font-weight: 400;
    transition: 0.1s ease-out;
}

.header-nav-item:hover {
    transform: scale(1.1);
}

@media screen and (min-width: 0) {
    .header-nav-item {
        display: none;
    }
}

@media screen and (min-width: 500px) {
    .header-nav-item {
        display: block;
    }
}

/* WIP Signboard */
@media screen and (min-width: 0px) {
    .wip-signboard {
        left: 190px;
    }
}

@media screen and (min-width: 375px) {
    .wip-signboard {
        left: 240px;
    }
}