.projects-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.project-item-container {
    width: fit-content;
    max-width: 1300px;
    height: fit-content;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    box-shadow: #64646f33 0px 7px 29px 0px;
}

.project-item-title {
    padding-right: 15px;
}

@media screen and (min-width: 0px) {
    .project-item-container {
        flex-direction: column;
        padding: 20px;
        padding-top: 30px;
    }

    .project-item-title-container {
        padding-left: 5px;
        padding-right: 5px;
    }


    .project-item-description {
        padding: 0;
    }

    .stack-used-container {
        padding-left: 0;
        padding-bottom: 20px;
    }
}

@media screen and (min-width: 980px) {
    .project-item-container {
        flex-direction: row;
        padding: 40px;
    }

    .project-item-title-container {
        padding-left: 10px;
        padding-right: 0;
    }

    .project-item-description {
        padding-right: 50px;
        padding-left: 10px;
    }

    .stack-used-container {
        padding-left: 10px;
    }
}

.project-item-image {
    max-width: 512px;
    max-height: 512px;
    border-radius: 15px;
}

@media screen and (min-width: 530px) {
    .project-item-image {
        width: 80vw;
        height: 80vw;
    }
}

@media screen and (min-width: 0px) {
    .project-item-image {
        width: 100%;

    }
}

.project-item-content-container {
    display: flex;
    flex-direction: column;
}

.project-item-title-container {
    font-size: 30px;
    padding-bottom: 20px;
}

.project-reference-icon {
    width: 30px;
    height: 30px;
    padding-right: 10px;
    position: relative;
    top: 5px;
    filter: grayscale(1.0);
    transition: 0.1s ease-in;
}

.project-reference-icon:hover {
    transform: scale(1.1);
}

.project-item-description {
    font-size: 18px;
    line-height: 2.0;
}

.stack-used-container {
    padding-top: 20px;
}

.stack-used-icon {
    width: 35px;
    height: 35px;
    padding-right: 10px;
    transition: 0.1s ease-in;
}

.stack-used-icon:hover {
    transform: scale(1.1);
}