.section-container {
    width: 100%;
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    flex-wrap: wrap;
}


@media screen and (min-width: 0px) {
    .section-container {
        height: fit-content;
    }
}

@media screen and (min-width: 1030px) {
    .section-container {
        height: 565px;
    }
}

.section-container:nth-last-of-type(2n + 1) {
    background-color: #f7f7f7;
}

.image-container {
    margin: 30px 60px 30px 60px;
}

.text-container {
    max-width: 450px;
    padding: 20px;
}

.section-title {
    font-size: 50px;
    height: 55px;
    line-height: 0.8;
}

.section-text {
    font-size: 18px;
    line-height: 1.7;
    text-align: justify;
}