.toast-box {
    display: flex;
    align-items: center;
    position: fixed;
    /* right: 10px; */
    right: -300px;
    bottom: 10px;
    width: 300px;
    height: fit-content;
    background-color: #53d37e;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.toast-box.error {
    background-color: #d35353;
}

.cross {
    fill: #ededed;
  }

.close-btn {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
}

.close-btn:hover {
    cursor: pointer;
}

.toast-text {
    padding: 20px 15px 20px 15px;
    font-weight: 600;
}

@keyframes show-toast-anim {
    0% {
        right: -300px;
    }

    60% {
        right: 30px;
    }

    100% {
        right: 10px;
    }
}

@keyframes hide-toast-anim {
    0% {
        right: 10px;
    }

    100% {
        right: -300px;
    }
}

.show-toast {
    animation: show-toast-anim 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

.hide-toast {
    animation: hide-toast-anim 0.15s ease-in;
    animation-fill-mode: forwards;
}