.email-span {
    color: #035c69d8;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.stack-icon {
    padding: 5px 10px 5px 0;
    cursor: pointer;
    filter: grayscale(100%);
    transition: 0.1s ease-out;
}

.stack-icon:hover {
    transform: scale(1.2);
    filter: grayscale(0);
}

.stack-picture {
    width: 200px;
    height: 200px;
}

@media screen and (min-width: 0px) {
    .stack-icon {
        width: 10vw;
        height: 10vw;
    }
}

@media screen and (min-width: 400px) {
    .stack-icon {
        width: 50px;
        height: 50px;
    }
}

@media screen and (min-width: 0px) {
    .profile-image {
        width: 80vw;
        height: 80vw;
        clip-path: circle(40vw at center);
    }
}

@media screen and (min-width: 420px) {
    .profile-image {
        width: 400px;
        height: 400px;
        clip-path: circle(200px at center);
    }
}
