.hero-container {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 60px;
    background-color: #68d3e3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.hero-image-container {
    width: 660px;
    height: fit-content;
    margin: 10px;
}

.hero-earth {
    max-width: 660px;
    max-height: 660px;
}

.hero-intro-container {
    padding: 20px;
}

.hero-intro-title, .hero-intro-text {
    color: #1c1c1c;
}

.hero-intro-title {
    height: 80px;
    width: fit-content;
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 60px;
}

.hero-intro-text {
    max-width: 450px;
    height: fit-content;
    margin: 0;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 500;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotating {
    transform-origin: center;
    animation: rotation 180s linear infinite;
}