.hero-container {
    height: fit-content;
    width: 100%;
    position: absolute;
    top: 60px;
    background-color: #68d3e3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.hero-image-container {
    width: 660px;
    height: fit-content;
    margin: 10px;
}

.hero-earth {
    max-width: 660px;
    max-height: 660px;
}

.hero-intro-container {
    padding: 20px;
}

.hero-intro-title, .hero-intro-text {
    color: #1c1c1c;
}

.hero-intro-title {
    height: 80px;
    width: fit-content;
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 60px;
}

.hero-intro-text {
    max-width: 450px;
    height: fit-content;
    margin: 0;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 500;
}

/** Animations **/
@keyframes rotating-anim {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotating {
    transform-origin: center;
    animation: rotating-anim 180s linear infinite;
}

@keyframes sparkling-anim {
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.sparkling {
    animation: sparkling-anim 3s ease-in-out infinite;
}

@keyframes floaty-anim {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-10px, 0);
    }
    50% {
        transform: translate(0, 0);
    }
    75% {
        transform: translate(10px, 0);
    }
    100% {
        transform: translate(0, 0);
    }

}

.floaty {
    transform-origin: center;
    animation: floaty-anim 20s ease-in-out infinite;
}