.section-container {
    width: 100%;
    height: fit-content;
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    flex-wrap: wrap;
}

.image-container {
    width: 400px;
    height: fit-content;
    margin: 30px 60px 30px 60px;
}

.text-container {
    max-width: 450px;
    padding: 20px;
}

.section-title {
    font-size: 40px;
    height: 55px;
}

.section-text {
    font-size: 17px;
    line-height: 1.7;
    text-align: justify;
}

@media screen and (min-width: 0px) {
    .section-image {
        width: 80vw;
        height: 80vw;
        clip-path: circle(40vw at center);
    }
}

@media screen and (min-width: 420px) {
    .section-image {
        width: 400px;
        height: 400px;
        clip-path: circle(200px at center);
    }
}