.skillset-container {
    width: 100%;
    height: 565px;
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    flex-wrap: wrap;
    flex-direction: column;
}

.item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.item-content-container {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.item-title {
    font-size: 28px;
    padding-bottom: 8px;
}

.item-text {
    font-size: 18px;
    line-height: 1.8;
}

.side-picture {
    width: 250px;
    height: 250px;
}