body {
    margin: 0;
    overflow-x: hidden;
}

@font-face {
    font-family: 'MazzardH';
    src: url('./assets/fonts/MazzardH-Medium.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MazzardH';
    src: url('./assets/fonts/MazzardH-SemiBold.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

h2 {
    font-family: 'MazzardH', sans-serif;
    font-weight: 400;
    margin: 0;
}

p {
    font-family: 'MazzardH', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
}