body {
    margin: 0;
}

@font-face {
    font-family: 'Moderne Sans';
    src: url('./assets/fonts/Moderne\ Sans\ Font.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Odin Rounded';
    src: url('./assets/fonts/odin-rounded.regular.otf');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'Moderne Sans', sans-serif;
}